@import 'http://at.alicdn.com/t/font_963744_muxs841qokp.css';
html, body {
    font-size: 14px;
    height: 100%
}

#app, .wrap, .main {
    height: 100%
}

.flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.flex-wrap.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column
}

.flex-wrap .flex-con {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.main {
    width: 100%;
    height: 100%
}

.icon {
    display: inline-block;
    background: url(../image/icons.png) no-repeat;
    background-size: 400px 400px
}

.status-bar {
    width: 100%;
    background: transparent
}

#status-bar {
    width: 100%;
    background: #6f6cef
}

#header {
    height: 40px;
    line-height: 40px;
    background: #6f6cef;
    background: -webkit-linear-gradient(bottom, #6f6cef, #9995f4);
    background: -o-linear-gradient(bottom, #6f6cef, #9995f4);
    background: -moz-linear-gradient(bottom, #6f6cef, #9995f4);
    background: linear-gradient(to bottom, #6f6cef, #9995f4);
    border-bottom: 1px solid #ddd
}

#header .header-wrap {
    position: relative
}

#header .header-wrap .header-left, #header .header-wrap .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0
}

#header .header-wrap .header-left .iconfont, #header .header-wrap .header-right .iconfont {
    font-size: 20px;
    color: #fff
}

#header .header-wrap .header-left .icon, #header .header-wrap .header-right .icon {
    width: 20px;
    height: 20px
}

#header .header-wrap .header-left .icon.icon-nearby, #header .header-wrap .header-right .icon.icon-nearby {
    background-position: -320px -80px
}

#header .header-wrap .header-left .icon.icon-share, #header .header-wrap .header-right .icon.icon-share {
    background-position: -340px -100px
}

#header .header-wrap .header-right {
    left: auto;
    right: 0
}

#header .header-wrap .header-title {
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    color: #fff
}

#header .header-wrap .nav {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0 40px
}

#header .header-wrap .nav a {
    max-width: 100px;
    padding: 0 10px;
    line-height: 38px;
    color: #555;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box
}

#header .header-wrap .nav a.active {
    color: #7371f0;
    border-bottom: 2px solid #7371f0
}

#header .live-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    position: relative
}

#header .live-wrap .live-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0 40px;
    background: #f1f1f1;
    border-radius: 30px;
    padding: 0 20px
}

#header .live-wrap .live-search .search-input {
    width: 100px;
    height: 30px
}

#header .live-wrap .live-search .icon-search1 {
    width: 20px;
    height: 20px;
    background-position: -360px -80px;
    margin-right: 5px
}

#header .live-wrap .header-left .icon.icon-add, #header .live-wrap .header-right .icon.icon-add {
    width: 30px;
    height: 30px;
    background-position: -80px -160px
}

#footer {
    border-top: 1px solid #efefef;
    background-color: #fff
}

#footer ul {
    display: flex;
    justify-content: center;
    align-items: center
}

#footer ul li {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    color: #555;
    position: relative
}

#footer ul li .messageBadge {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #f00;
    position: absolute;
    right: 12px;
    top: 6px
}

#footer ul li .icon {
    width: 30px;
    height: 30px
}

#footer ul li.active {
    color: #7371f0
}

#footer ul li.active .icon-tab0 {
    background-position: 0 0
}

#footer ul li.active .icon-tab1 {
    background-position: 0 -40px
}

#footer ul li.active .icon-tab2 {
    background-position: 0 -200px
}

#footer ul li.active .icon-tab3 {
    background-position: 0 -120px
}

#footer ul li.active .icon-tab4 {
    background-position: 0 -160px
}

#footer ul li .icon-tab0 {
    background-position: -40px 0
}

#footer ul li .icon-tab1 {
    background-position: -40px -40px
}

#footer ul li .icon-tab2 {
    background-position: -40px -200px
}

#footer ul li .icon-tab3 {
    background-position: -40px -120px
}

#footer ul li .icon-tab4 {
    background-position: -40px -160px
}

#footer ul li .title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

input, button {
    appearance: none;
    outline: medium
}

.empty-img {
    width: 150px;
    margin: 80px auto 10px;
    display: block
}

.empty-text {
    font-size: 12px;
    text-align: center;
    width: 100%
}

#app, .wrap {
    background: none;
    position: relative
}

#header .live-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    position: relative
}

#header .live-wrap .live-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0 40px;
    background: #f1f1f1;
    border-radius: 30px;
    padding: 0 20px
}

#header .live-wrap .live-search .search-input {
    width: 100px;
    height: 30px
}

#header .live-wrap .icon-search1 {
    width: 20px;
    height: 20px;
    background-position: -360px -80px;
    margin-right: 5px
}

#header .live-wrap .icon-add {
    width: 30px;
    height: 30px;
    background-position: -80px -240px
}

.search-wrap {
    width: 100%;
    height: 50px;
    background: #7371f0;
    display: flex;
    padding: 10px;
    color: #555;
    box-sizing: border-box;
    position: fixed;
    border-bottom: 1px solid #ddd
}

.search-wrap .search-input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    border: 0;
    background: #fff;
    box-sizing: border-box;
    padding-left: 34px
}

.search-wrap #search-btn {
    width: 60px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #e12e85
}

.search-wrap .search-img {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -8px
}

.live-list::-webkit-scrollbar {
    display: none
}

.live-list {
    width: 100%;
    background: #fff;
    padding: 10px 0
}

.live-list .live-item {
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 2px;
    box-shadow: 0 10px 20px #eee;
    background-color: #fff;
    background: -webkit-linear-gradient(to bottom, #fff, #eee);
    background: -o-linear-gradient(to bottom, #fff, #eee);
    background: -moz-linear-gradient(to bottom, #fff, #eee);
    background: linear-gradient(to bottom, #fff, #eee)
}

.live-list .live-item .item-cover {
    height: 280px;
    margin-left: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 6px
}

.live-list .live-item .item-cover .hot-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px
}

.live-list .live-item .item-cover .hot-wrap span {
    font-size: 12px;
    color: #fff;
    margin-left: 5px
}

.live-list .live-item .item-cover .icon-hot {
    width: 20px;
    height: 20px;
    background-position: -320px -100px
}

.live-list .live-item .item-cover .icon-play {
    width: 40px;
    height: 40px;
    background-position: -120px -160px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px
}

.live-list .live-item .item-info {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    position: absolute;
    left: 0;
    bottom: 0
}

.live-list .live-item .item-info .desc {
    padding-left: 15px;
    font-size: 14px;
    color: #fefefe;
    margin-bottom: 10px
}

.live-list .live-item .item-info .user-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.live-list .live-item .item-info .user-wrap .user-avatar {
    margin-right: 5px
}

.live-list .live-item .item-info .user-wrap .user-avatar img {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #efefef
}

.live-list .live-item .item-info .user-wrap .user-name {
    font-size: 12px;
    color: #fff
}

.live-list .live-item .item-info .user-wrap .price {
    flex: 1;
    text-align: right;
    color: #fff
}

.video-live-add .form {
    padding: 20px
}

.video-live-add .input-wrap {
    display: flex
}

.video-live-add .input-wrap+.input-wrap {
    margin-top: 20px
}

.video-live-add .input-wrap input {
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    padding: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px
}

.video-live-add .input-wrap .cover-img {
    width: 100%;
    position: relative
}

.video-live-add .input-wrap .cover-img img {
    display: block;
    width: 100%
}

.video-live-add .input-wrap .cover-img .tips {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff
}

.video-live-add .price-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px
}

.video-live-add .price-wrap .td {
    display: flex;
    align-items: center;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 5px
}

.video-live-add .price-wrap .td input {
    text-indent: 10px
}

.video-live-add .price-wrap span {
    color: #7371f0
}

.video-live-add .btn-wrap {
    padding: 20px
}

.video-live-add .btn-wrap .add-btn {
    width: 100%;
    height: 40px;
    background: #e12e85;
    color: #fff;
    border-radius: 5px
}

.FNImageClip-control {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.FNImageClip-control span {
    height: 100%;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    font-size: 16px
}

.video-live-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px
}

.video-live-header .user-wrap {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 2px;
    border-radius: 34px
}

.video-live-header .user-wrap .user-info {
    display: flex;
    align-items: center
}

.video-live-header .user-wrap .user-info .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 5px
}

.video-live-header .user-wrap .user-info .user-text {
    width: 80px;
    font-size: 12px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.video-live-header .user-wrap .follow {
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #e12e85;
    color: #fff;
    font-size: 12px;
    border-radius: 30px
}

.video-live-header .member-wrap {
    flex: 1;
    overflow-x: scroll;
    margin: 0 10px
}

.video-live-header .member-wrap .member-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 240px
}

.video-live-header .member-wrap .member-list img {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 5px
}

.video-live-header .close-wrap {
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 34px
}

.video-live-header .close-wrap .iconfont {
    font-size: 20px;
    color: #fff
}

.room-info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px
}

.room-info .room-count, .room-info .room-id {
    height: 30px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 0 10px;
    color: #fff;
    font-size: 14px
}

.room-info .gift-count {
    display: flex;
    align-items: center;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 0 10px
}

.room-info .gift-count .icon {
    width: 20px;
    height: 20px
}

.room-info .gift-count .icon.icon-gift1 {
    background-position: -320px -60px
}

.room-info .gift-count span {
    margin-left: 5px;
    color: #fff;
    font-size: 12px
}

.video-live-room {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 10px
}

.video-live-room .chat-intro {
    width: 80%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 5px
}

.video-live-room .chat-wrap {
    width: 100%;
    height: 200px;
    overflow-y: scroll
}

.video-live-room .chat-wrap .chat-item {
    margin-bottom: 5px
}

.video-live-room .chat-wrap .chat-item .chat-content {
    display: inline-block;
    padding: 0 10px;
    line-height: 24px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px
}

.video-live-room .chat-wrap .chat-item .sys-text .content {
    color: #c6dc6d
}

.video-live-room .chat-wrap .chat-item .syserro-text .content {
    color: #f33b59
}

.video-live-room .chat-wrap .chat-item .user-text .name {
    color: #ffe159
}

.video-live-room .chat-wrap .chat-item .user-text .content {
    color: #fff
}

.video-live-room .form-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box
}

.video-live-room .form-wrap .input-wrap {
    display: flex;
    align-items: center;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 32px;
    padding: 1px
}

.video-live-room .form-wrap .input-wrap input {
    width: 140px;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #ddd
}

.video-live-room .form-wrap .input-wrap button {
    font-size: 12px;
    width: 60px;
    height: 30px;
    text-align: center;
    background: #e12e85;
    color: #fff;
    border-radius: 30px
}

.video-live-room .form-wrap .fMenu-wrap {
    display: flex;
    align-items: center
}

.video-live-room .form-wrap .fMenu-wrap .fMenu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #e12e85;
    border-radius: 32px;
    margin-left: 8px
}

.video-live-room .form-wrap .fMenu-wrap .fMenu-item .iconfont {
    font-size: 18px;
    color: #fff
}

.video-live-room .form-wrap .fMenu-wrap .fMenu-item .icon {
    width: 20px;
    height: 20px
}

.video-live-room .form-wrap .fMenu-wrap .fMenu-item .icon.icon-camera {
    background-position: -380px -60px
}

.video-live-room .form-wrap .fMenu-wrap .fMenu-item .icon.icon-meiyan {
    background-position: -360px -60px
}

.video-live-room .form-wrap .fMenu-wrap .fMenu-item .icon.icon-gold {
    background-position: -380px -80px
}

.dialog-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0
}

.dialog-wrap .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.dialog-wrap .user-info .user-avatar {
    width: 80px;
    height: 80px;
    position: relative
}

.dialog-wrap .user-info .user-avatar img {
    display: block;
    width: 100%;
    border-radius: 80px
}

.dialog-wrap .user-info .user-avatar .follow {
    width: 60px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #e12e85;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: -6px;
    margin-left: -30px
}

.dialog-wrap .user-info .user-name {
    margin-top: 10px;
    font-size: 16px;
    color: #fff
}

.dialog-wrap .user-info .user-city {
    margin-top: 5px;
    font-size: 12px;
    color: #fff
}

.dialog-wrap .dialog {
    margin-top: 100px;
    text-align: center
}

.dialog-wrap .dialog .dialog-content {
    text-align: center;
    margin-bottom: 100px;
    color: #fff;
    font-size: 20px
}

.dialog-wrap .dialog button {
    height: 40px;
    padding: 0 30px;
    background: #e12e85;
    color: #fff;
    border-radius: 40px
}

.dialog-wrap .pay-info {
    color: #fff;
    text-align: center
}

.dialog-wrap .pay-info .title {
    font-size: 14px;
    margin-bottom: 20px
}

.dialog-wrap .pay-info .ctime {
    font-size: 12px
}

.dialog-wrap .pay-info .ctime span {
    color: #f00
}

.dialog-wrap .pay-wrap {
    width: 60%;
    margin-top: 100px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box
}

.dialog-wrap .pay-wrap .title {
    color: #000;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px
}

.dialog-wrap .pay-wrap .tips {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px
}

.dialog-wrap .pay-wrap .btn-wrap {
    display: flex;
    align-items: center
}

.dialog-wrap .pay-wrap .btn-wrap button {
    flex: 1;
    line-height: 30px;
    border-radius: 30px
}

.dialog-wrap .pay-wrap .btn-wrap button.btn-cancel {
    color: #333
}

.dialog-wrap .pay-wrap .btn-wrap button.btn-enter {
    color: #fff;
    background: #f00
}

.give-gift-prompt {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 50%;
    width: 100%;
    height: 10vh;
    margin-top: -30px;
    border-radius: 42px;
    overflow: hidden;
    padding: 1px;
    background: url(../image/give_gift_bg1.png) no-repeat left center;
    z-index: 9
}

.give-gift-prompt .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 10px
}

.give-gift-prompt .user-info {
    font-size: 12px;
    color: #fff;
    margin-right: 10px
}

.give-gift-prompt .give-gift-img {
    width: 30px;
    height: 30px;
    margin-right: 10px
}

.give-gift-prompt .give-gift-count {
    font-weight: bold;
    font-size: 20px;
    color: #e12e85
}

.swiper-container {
    width: 100%;
    height: 100%
}
