<widget id="A6157765720697"  version="0.0.1">
 <name>优小新</name>
 <description>
   优小新
 </description>
 <author email="developer@apicloud.com" href="http://www.apicloud.com">
   Developer
 </author>
 <content src="index.html" />
 <access origin="*" />
 <preference name="pageBounce" value="false"/>
 <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
 <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
 <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
 <preference name="hScrollBarEnabled" value="false"/>
 <preference name="vScrollBarEnabled" value="false"/>
 <preference name="autoLaunch" value="true"/>
 <preference name="fullScreen" value="false"/>
 <preference name="autoUpdate" value="true" />
 <preference name="smartUpdate" value="true" />
 <preference name="debug" value="true"/>
 <preference name="statusBarAppearance" value="true"/>
 <preference name="appCertificateVerify" value="false" />
 <permission name="readPhoneState" />
 <permission name="camera" />
 <permission name="record" />
 <permission name="location" />
 <permission name="fileSystem" />
 <permission name="internet" />
 <permission name="bootCompleted" />
 <permission name="hardware" />
 <preference name="backgroundMode" value="audio|voip|location"/>
 <preference name="querySchemes" value="weixin, wechat" />
 <preference name="softInputMode" value="auto"/>
 <!-- <preference name="urlScheme" value="paqb7060" /> -->
<feature name="shareInstall">
    <param name="com.shareinstall.APP_KEY" value="2BBK6K76EH2HA6" />
</feature>
<preference name="urlScheme" value="q2rk9r" />
<meta-data name="com.openinstall.APP_KEY" value="q2rk9r" />
<feature name="openinstall">
    <param name="com.openinstall.APP_KEY" value="i8nwur" />
</feature>
 <intent-filter>
   <action name="android.intent.action.VIEW"/>
   <category name="android.intent.category.DEFAULT"/>
   <data scheme="rong" host="io.rong.fast" pathPrefix="/conversation/"/>
 </intent-filter>
 <intent-filter>
   <action name="android.intent.action.VIEW" />
   <category name="android.intent.category.DEFAULT" />
   <data host="com.xiaomiyou.copy" path="/conversationlist" scheme="rong" />
 </intent-filter>
 <intent-filter>
   <action name="android.intent.action.VIEW" />
   <category name="android.intent.category.DEFAULT" />
   <data host="com.xiaomiyou.copy" pathPrefix="/push_message" scheme="rong" />
 </intent-filter>
 <feature name="rongCloudIM">
   <param name="appKey" value="vnroth0kvlr2o" />
 </feature>

 <feature name="mapleRTC">
   <param name="appId" value="9bdb3200caebbfd7" />
 </feature>


 <feature name="gotyeLiveCore">
   <param name="appKey" value="ca6d7c02e8aa4d4794a06d06a32e2368" />
   <param name="accessSecret" value="c018cb7a329f46b6aa3c5aa696239f49" />
 </feature>


 <feature name="QQPlus">
   <param name="urlScheme" value="tencent1107018828" />
   <param name="apiKey" value="1107018828" />
 </feature>


<feature name="wxPayPlus">
   <param name="urlScheme" value="wxcc6db0be1a24f7bd"/>
   <param name="apiKey" value="wxcc6db0be1a24f7bd"/>
   <param name="apiSecret" value="67235752a920775c36b1428fda499399"/>
   <param name="universalLink" value="https://q2rk9r.openinstall.io/ulink/"/>
 </feature>

 <feature name="wxPlus">
   <param name="urlScheme" value="wxcc6db0be1a24f7bd"/>
   <param name="apiKey" value="wxcc6db0be1a24f7bd"/>
   <param name="apiSecret" value="67235752a920775c36b1428fda499399"/>
   <param name="universalLink" value="https://q2rk9r.openinstall.io/ulink/"/>
  </feature>

<feature name="aMapLBS">
    <param name="android_api_key" value="932ff62b5c2403f32d4f97170ad646fc" />
    <param name="ios_api_key" value="3ed148e13e7d598b655bcfd04694a6ea" />
</feature>
 <feature name="aliPayPlus">
   <param name="urlScheme" value="2088931746515782" />
   </feature>
</widget>
